node_modules
.pnpm-store
.next
dist
coverage
tmp
*.tsbuildinfo

.env
.env.local
.env.*.local

apps/backend/.env
apps/frontend/.env.local
apps/frontend/mocks

apps/backend/prisma/migrations

.DS_Store
Thumbs.db
AGENTS.md
API.md
